footer.footer
  ul.footer__list
    li
      a(href="#") Contáctanos
    li
      a(href="#") Términos y condiciones
    li
      a(href="#") FAQ
    li
      a(href="#") Stock
  
  ul.footer__social
    li
      a(href="#")
        i.fa.fa-facebook
    li
      a(href="#")
        i.fa.fa-twitter
    li
      a(href="#")
        i.fa.fa-instagram