header.header
  .header__container
    a.header__logo(href="/")
      img(src="/images/logo.png")
    .header__wrapper
      nav.header__nav
        ul.header__nav__list
          li
            a(href="/como-funciona-la-reserva") Cómo funciona la reserva
          li
            a(href="/como-funciona-la-compra") Cómo funciona la compra
          li
            a(href="#") Concesionarios
          li
            a(href="/contacto") Contacto
      .header__hamburguer
        span
        span
        span
header.header
    
